<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="/static/css/app.css">
</head>
<body>
    <h1> Rayon Hart </h1>
    <p> I'm a 23-year-old computer science major from St. Catherine. I am also passionate about sports, fitness mobile technology, and data analytics.
      One of my favorite quotes is "The least of deeds outway the greatest of intentions". I'm not sure about a career path, I just know I want to make good money and travel the world.</p>
</body>
</html>
